@font-face {
	font-family: 'HelveticaNeueCyr-Black';
	src: url('../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'),
	     url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueCyr-Roman';
	src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
	     url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueCyr-Bold';
	src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
	     url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueCyr-Light';
	src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
	     url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
*, :before, :after{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
} 
body{
	color: #263238;
	font-size: 16px;
	background-color: #f0f0f0;
	min-width: 320px;
	font-family: 'HelveticaNeueCyr-Light', sans-serif;
}
span, p, li{
	opacity: .9;
}
a{
	font-family: 'HelveticaNeueCyr-Roman', sans-serif;
} 
h1{
	font-size: 2.5rem;
	margin: 0 0 2rem;
	color: #263238;
}
h2{
	font-size: 1.87rem;
	margin: 0 0 3.12rem;
	color: #263238;
}
h3{
	font-size: 1.12rem;
	margin-bottom: 0 0 1.87rem;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'HelveticaNeueCyr-Black', sans-serif;
}
.orange:first-letter{
	color: #fc6e51;
}
.blue:first-letter{
    color: #62a8ea;
}
.white{
	color: #ffffff;
}
.container{
	margin: 0 auto;
	max-width: 980px;
	background-color: #ffffff;
}
.wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.block{
	padding: 3.12rem;
	position: relative;
}
.block1{
	min-height: 25rem;
	background-image: url(../img/bg_block1.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.item4 {
	margin-bottom: 1.87rem;
	max-width: 12.5rem;
}
.block3 {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/bg_block3.png);
}
.block2 .wrapper,
.block3 .wrapper,
.block4 .wrapper,
.block5 .wrapper,
.block6 .wrapper,
.block8 .wrapper,
.block9 .wrapper {
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}
.item2 {
    max-width: 27.25rem;
    margin-bottom: 1.87rem;    
}
.block3__p2{
	margin-bottom: 3.12rem;
}
.skype:before{
	content: '';
	background-image: url(../img/skype.png);
	background-size: 1.125rem;
	background-repeat: no-repeat;
	width: 1.125rem;
	height: 1.125rem;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin-right: 0.3125rem;
	padding: 0.3125rem;
    
}
.link_button{
	background-color: #62a8ea;
	padding:0 0.3125rem;
	line-height: 1.25rem;
	border-radius: 0.3rem;
	text-decoration: none;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
}
.link_button:hover{
	color: #218df2;
	background-color: #ffffff;
} 


.block4 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/bg_block4.png);
}
/*.slider {
	display: flex;
	justify-content: flex-end;
	flex-wrap: nowrap;
}
.ltft, .right {
	margin-left: 10px;
}*/

.block6 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/bg_block6.png);
}
ul {
	padding-left: 1rem;
}
li {
	margin-bottom: 1rem;
}

.block7 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/bg_block7.png);
} 
.block7 .wrapper  {
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	max-width: 38.75rem; 	
}
.item3 {
	width: 11.9rem;
	margin-bottom: 1.8rem	
}
.block7 .item3 span {
	display: block;
}

.block8 h3 {
	color: #263238;
}
.block8__h3{
	margin: 2.5rem 0;
}
.block8_secondItem{
	width: 12.5rem;
}

.block9 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/bg_block9.png);
} 
.block9 span{
	display: inline-block;
	max-width: 21.9rem;
}
.block9 img {
	width: 100%;
}
.block9 .wrapper{
	max-width: 50rem;
}